{% extends 'base.html' %}

{% load staticfiles %}
{% block clear_block %}
{%if user.is_authenticated == False%}

	<div class ="col-xs-12" align = "center">
	<h2>Welcome PubNGo!</h2>
	<h2>Please <a href='/login' >login</a> or <a href='/register' >register</a></h2>
	<h2>Or login with <a href = '{% url 'social:begin' 'facebook' %}?next={{ request.path }}'>Facebook</a></h2>

</div>	
{%endif%}
{% endblock %}

{%if user.is_authenticated %}
{% block body_block %}
	<div class="col-xs-12" align="center">
		 <h4>Welcome {{user.username}}!</h4>
		{% if user.userprofile.picture_url %}
					<img src="{{user.userprofile.picture_url}}" height=85/>
					<br/><br/>
		{% endif %}
		
		<h4>Please tell us what kind of pub are looking for:</h4>
		<p>
		Todo: Create a set user preferences form here. (Prefer ajax call)
		<br/> 
		</p>
		<a href="/logout/">Logout
			<i class="fa fa-sign-out"></i>  
		</a> 
		<br/><br/>   
	</div>
{% endblock %}
{% endif %}